/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

body {
	background-color: rgba(255, 165, 0, 0.75);
}

@font-face {
    font-family: SF-Light;
    src: url(SF-Font/SanFranciscoDisplay-Light.otf);
}
@font-face {
    font-family: SF-Reg;
    src: url(SF-Font/SanFranciscoDisplay-Regular.otf);
}
@font-face {
    font-family: SF-Thin;
    src: url(SF-Font/SanFranciscoDisplay-Thin.otf);
}


p {
    font-family: SF-Thin;
    color: black;
    padding: 0 8px;
    font-size: 18px;
    text-align: justify;
}


.tutor-session-wrapper .tutor-session {
    width: 300px;
    height: 500px;
    left: 0;
    top: 110px;
    background-image: url(https://d235oyylauiwpp.cloudfront.net/assets/generated/phone-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.flexCC,.flexCCR {
		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-orient: vertical
	 }

.flexCC {
		display: flex;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	 }
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.session-video-wrapper {
    width: 212.4px;
    height: 377.6px;
    left: 44.3px;
    top: 58.6px;
    background-color: white;
    border-radius: 2px;
}


input:first-child {
	margin: 0 auto;
    display: block;
    width: 90%;
}

#viewmessages {
	  margin: 0 auto;
    display: block;
    width: 35%;
    top: 300px;
    position: relative;
    cursor: pointer;
    height: 37px;
    font-family: SF-Reg;
    font-size: 20px;
    color: #FFF;
    -webkit-border-radius: 8px;
    border-radius: 14px;
    border-top: 1px solid #FFF;
    background-color: #2DB5FF
}

/* GRID LAYOUT */
@media (min-width:768px) {
.container {width:750px;}
}

@media (min-width:992px) {
.container {width:970px;}

}

@media (min-width:1200px) {
.container {width:1170px;}
}

.container {
margin: 0 auto;
padding: 0 15px;
}

.col1x, .col2x, .col3x, .col4x, .col5x, .col6x, .col7x, .col8x, .col9x, .col10x, .col11x, .col12x,.col1s, .col2s, .col3s, .col4s, .col5s, .col6s, .col7s, .col8s, .col9s, .col10s, .col11s, .col12s, .col1m, .col2m, .col3m, .col4m, .col5m, .col6m, .col7m, .col8m, .col9m, .col10m, .col11m, .col12m, .col1l, .col2l, .col3l, .col4l, .col5l, .col6l, .col7l, .col8l, .col9l, .col10l, .col11l, .col12l {
float:left;
position:relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;
width: 100%;
}

.row {
margin-left:-15px;
margin-right:-15px;
}

.row:before, .row:after {
display:table;
content: " ";
clear:both;
}

.col1x {width:8.33333333%;}
.col2x {width:16.66666667%;}
.col3x {width:25%;}
.col4x {width:33.33333333%;}
.col5x {width:41.66666667%;}
.col6x {width:50%;}
.col7x {width:58.33333333%;}
.col8x {width:66.66666667%;}
.col9x {width:75%;}
.col10x {width:83.33333333%;}
.col11x {width:91.66666667%;}
.col12x {width:100%;}

.col-x-offset-1 {
  margin-left: 8.33333333%;
}

@media (min-width:768px) {
.col1s {width:8.33333333%;}
.col2s {width:16.66666667%;}
.col3s {width:25%;}
.col4s {width:33.33333333%;}
.col5s {width:41.66666667%;}
.col6s {width:50%;}
.col7s {width:58.33333333%;}
.col8s {width:66.66666667%;}
.col9s {width:75%;}
.col10s {width:83.33333333%;}
.col11s {width:91.66666667%;}
.col12s {width:100%;}
}

@media (min-width:992px) {
.col1m {width:8.33333333%;}
.col2m {width:16.66666667%;}
.col3m {width:25%;}
.col4m {width:33.33333333%;}
.col5m {width:41.66666667%;}
.col6m {width:50%;}
.col7m {width:58.33333333%;}
.col8m {width:66.66666667%;}
.col9m {width:75%;}
.col10m {width:83.33333333%;}
.col11m {width:91.66666667%;}
.col12m {width:100%;}
}

@media (min-width:1200px) {
.col1l {width:8.33333333%;}
.col2l {width:16.66666667%;}
.col3l {width:25%;}
.col4l {width:33.33333333%;}
.col5l {width:41.66666667%;}
.col6l {width:50%;}
.col7l {width:58.33333333%;}
.col8l {width:66.66666667%;}
.col9l {width:75%;}
.col10l {width:83.33333333%;}
.col11l {width:91.66666667%;}
.col12l {width:100%;}
}

@media (max-width:480px) {
.col1xl {width:8.33333333%;}
.col2xl {width:16.66666667%;}
.col3xl {width:25%;}
.col4xl {width:33.33333333%;}
.col5xl {width:41.66666667%;}
.col6xl {width:50%;}
.col7xl {width:58.33333333%;}
.col8xl {width:66.66666667%;}
.col9xl {width:75%;}
.col10xl {width:83.33333333%;}
.col11xl {width:91.66666667%;}
.col12xl {width:100%;}
}

.col-l-offset-4 {
  margin-left: 33.33%;
}

img.responsive {
width:100%;
height:auto;
}


@media screen and (max-width:960px) {

}

@media screen and (max-width:768px) {

}


@media screen and (max-width:480px) {

}



#paper {
	color:#FFF;
	font-size:20px;
}
#margin {
	margin-left:12px;
	margin-bottom:20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#text {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 212px;
    background-color: #FFF;
    color: #222;
    font-family: SF-Thin;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
    line-height: 38px;
    -webkit-border-radius: 12px;
    background-position-x: -106px;
    border-radius: 2px;
    outline: none;
    opacity: .6;
}

#button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    left: 0;
    width: 75%;
    right: 0;
    cursor: pointer;
    height: 37px;
    font-family: SF-Reg;
    font-size: 20px;
    color: #FFF;
    -webkit-border-radius: 8px;
    border-radius: 14px;
    border-top: 1px solid #FFF;
    background-color: #62add6;
    /*background-image: url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);*/
    z-index: 1;
}

#button:active {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#button:focus {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

input#button {
	background-color: #2DB5FF;
  letter-spacing: 1px;
}
